.subtotal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  border: 1px solid wheat;
  border-radius: 3px;
  justify-content: space-between;
  background-color: #f3f3f3;
}
.subtotal__gift {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.subtotal__gift > input {
  margin-right: 5px;
}

.subtotal > button {
  background-color: #f0c14b;
  border-block: 2px;
  width: 100%;
  padding: 7px;
  object-fit: contain;
  border: 1px solid;
  margin-top: 10px;
  border-color: #f0c14b;
  color: black;
}
